<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <h1>Index</h1>
    <p> I love programming </p>
    <p> My dog is a Golden Retriever and Labordoodle</p>
  </body>
</html>