<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <h1>Index</h1>
    <p> I love programming </p>
    <p>My dogs name is <%= @dog.name %></p>
    <p>My dogs breed is <%= @dog.breed %></p>
    <p>My dogs age is <%= @dog.age %></p>
  </body>
</html>
