#This directory holds the code that will be displayed in the browser.
#In a Sinatra app we use .erb files instead of .html files because .erb files
#allow us to include regular, old HTML tags AND special erb tags which contain Ruby code.
<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <h1>Index</h1>
    <p> I love programming </p>
  </body>
</html>
