<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <h1>Index</h1>
<!--     <% Dog.all.each do |dog| %>
    <p>My dog's breed is <%= dog.breed %></p>
    <% end %> -->
    <p>My dog's breed is dalmation</p>
  </body>
</html>