<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <h1>Index</h1>
    <p>My dog's breed is <%= @dog.breed %></p>
    <p>His name is <%= @dog.name %></p>
    <h2>He's <%= @dog.age %> years old!</h2>
  </body>
</html>