<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <h1>Index</h1>
    <p>My dog's name is <%= @dog.name %></p>
    <p>My dog's breed is <%= @dog.breed %></p>
    <p>My dog's age is <%= @dog.age %></p>

  </body>
</html>
