<!DOCTYPE html>
<html>
  <head>
    <title>Dog List</title>
  </head>

  <body>
    <h1>Dogs</h1>
    <%Dog.all.each do |d| %>
      <li> <%= d.name %> </li>
      <% end %>
    <p> I love programming </p>
  </body>
</html>
